@model quezemasterNew.Models.ViewModel.QuestionPepar10ViewModel
@{
    ViewData["Title"] = "Add Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #dataTable_filter, #dataTable_length, #dataTable_info, #dataTable_paginate {
        display: block;
        border: 1px solid black;
    }

    .table {
        border: 1px solid black;
    }

        .table thead th {
            border-bottom: 1px solid black;
        }

    button.dt-button, div.dt-button, a.dt-button, input.dt-button {
        background-color: #EC6BAB;
        color: white;
    }
</style>
<script>
    var $jq = jQuery.noConflict();
    $jq(document).ready(function () {
        var printCounter = 0;
        $jq('#ConfirmTable').DataTable({
            dom: 'Bfrtip',
            buttons: [

                {
                    extend: 'excel',
                    messageTop: 'Quize Index'
                },

                {
                    extend: 'print',
                    messageTop: function () {
                        printCounter++;

                        if (printCounter === 1) {
                            return '<center><h3><u>Quize Master</u></h3></center><hr/>';
                        }
                        else {
                            return '<center><h3><u>Quize Master</u></h3></center><hr/>';
                        }
                    },
                    messageBottom: null
                }
            ]
        });
    });
</script>
<br />
<form asp-action="QuestionAddForm20Details" asp-controller="CLass10">
    <div class="row">
        <div class="col-md-1"></div>
        <input type="hidden" asp-for="ConnectedQuestion" />
        <input type="hidden" asp-for="PrimaryId" />
        <div class="col-md-10">
            <div class="card card-body">
                <h5 class="text-center"> Question Add</h5>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <label><strong>Question</strong></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" asp-for="QuestionNo" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <label><strong>Answer A</strong></label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" asp-for="AnswerA" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label><strong>Answer B</strong></label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" asp-for="AnswerB" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <label><strong>Answer C</strong></label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" asp-for="AnswerC" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label><strong>Answer D</strong></label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" asp-for="AnswerD" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <label><strong>Currect Answer</strong></label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" asp-for="CurrectAnswer" class="form-control" />
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Submit" class="btn btn-primary" style="background-color:#BC3578;" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>

</form>

<br />
<br />
<did>
    <table id="ConfirmTable" class="table table-bordered table-hover text-center" border="1">
        @{
            <thead class="text-white" style="background-color:#b66c9d">
                <tr>
                    <th>
                        <label><strong>Sr No</strong></label>
                    </th>
                    <th>
                        <label><strong>Question</strong></label>
                    </th>
                    <th>
                        <label><strong>Answer A</strong></label>
                    </th>
                    <th>
                        <label><strong>Answer B</strong></label>
                    </th>
                    <th>
                        <label><strong>Answer C</strong></label>
                    </th>
                    <th>
                        <label><strong>Answer D</strong></label>
                    </th>
                    <th>
                        <label><strong>Currect Answer</strong></label>
                    </th>


                    <th>Action</th>
                </tr>
            </thead>
            var i = 1;
            <tbody>
                @foreach (var item in Model.lsListQuestion)
                {
                    <tr>

                        <td data-label="Sr No">@Html.Label("" + i++.ToString())</td>
                        <td data-label="Question No">@item.QuestionNo </td>
                        <td data-label="Answer A"> @item.AnswerA</td>
                        <td data-label="Answer B"> @item.AnswerB</td>
                        <td data-label="Answer C"> @item.AnswerC</td>
                        <td data-label="Answer D"> @item.AnswerD</td>
                        <td data-label="Currect Answer"> @item.CurrectAnswer</td>
                        <td data-label="Action">

                            <a asp-action="AddQuestion" class="btn btn-success"
                               asp-route-PrimaryId="@item.Id" asp-route-id="@item.ConnectedQuestion" asp-controller="CLass10">Edit</a>
                            <a asp-action="DeleteQuestion" class="btn btn-danger"
                               asp-route-id="@item.Id" asp-route-ConnectionId="@item.ConnectedQuestion" asp-controller="CLass10">Delete</a>
                        </td>

                    </tr>
                }
            </tbody>
        }
    </table>
</did>