@model quezemasterNew.Models.Class9.Class9ViewModel
@* @model IEnumerable<quezemasterNew.Models.Class9.Class9ViewModel> *@

@{
    ViewData["Title"] = "BPSC";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@* <p>
    <a asp-action="Create">Create New</a>
</p>
<h4 class="text-center">BPSC</h4>
 *@

<div class="container-fluid">

    <div id="BPSCForm">
        @await Component.InvokeAsync("BPSCEnglish",
        new { ViewComponentType = "BPSCEnglishForm", BPSCEnglishDetails = Model })
    </div>


    <div class="row justify-content-center mt-3">
        <div class="col-md-12 card card-body shadow-sm CardCss" id="BPSCDetailsList">
            @await Component.InvokeAsync("BPSCEnglish", new { ViewComponentType = "BPSCEnglishList", BPSCEnglishDetails = Model })
        </div>
    </div>

</div>






@* 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuezName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuezName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            
            <td>
                @Html.ActionLink("Add Question", "AddQuestion", new {  id=item.Id  }) |
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
 *@