@model IEnumerable<quezemasterNew.Models.ViewModel.ResultDetailsViewModel>
@{
    ViewData["Title"] = "Class 12 RESULT";
}
@if (@Model.Count() > 0)
{
    <h4 class="text-center" style="color:green"> Total Answer - @Model.FirstOrDefault().TotalCurrectAnswer / 20</h4>

}
<div class="container-fluid">
    <table class="table">
        @{
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Question</th>
                    <th>Answer A</th>
                    <th>Answer B</th>
                    <th>Answer C</th>
                    <th>Answer D</th>
                    
                </tr>
            </thead>
            var i = 1;
            <tbody>
                @foreach (var item in Model)
                {
                    @if (String.IsNullOrEmpty(item.CurrectAnsawer))
                    {
                        <tr style="color:red">
                            <td>@item.SRNumber</td>
                            <td>@item.Question</td>
                            <td>@item.AnsswerA</td>
                            <td>@item.AnsswerB</td>
                            <td>@item.AnsswerC</td>
                            <td>@item.AnsswerD</td>
                            
                        </tr>
                    }
                    else
                    {
                        <tr style="color:forestgreen">
                            <td>@item.SRNumber</td>
                            <td>@item.Question</td>
                            <td>@item.AnsswerA</td>
                            <td>@item.AnsswerB</td>
                            <td>@item.AnsswerC</td>
                            <td>@item.AnsswerD</td>
                            
                        </tr>
                    }
                }
            </tbody>
        }
    </table>

</div>